body {
  background-color: #E0D8E8;
}

header {
  text-align: center;
}

h1, h3, h4 {
  font-family: 'Lucida', sans-serif;
  text-align: center;
}

h3 {
font-size: 1.5em;
font-style: italic;
}

img {
  display: block;
  margin: auto;
  height: 350px;
  width: 750px;
  border: 2px solid #181AAB;
}

.content {
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
}

p {
font-size: 1.2em;
font-family: 'Lucida', sans-serif;
}