header {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  height: 350px;
  width: 750px;
  border: 2px solid #181AAB;
}

.content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

p {
font-size: 1.2em;
}